.aaa{
    background-color:aqua;
}
.bbb{
    background-color: blueviolet;
}
.ccc{
    background-color: brown;
}
.ddd{
    background-color: brown;
}
.xxx{
    background-color: rgb(250, 106, 202);
}